footer.footer 

  .footer__logo 
    svg.header__logo
      use(xlink:href='/img/icons.svg#icon-sunrise')
    //- img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav 
    li: a(href='/preparing') About us
    li: a(href='/preparing') Download apps
    li: a(href='/preparing') Careers
    li: a(href='/preparing') Contact 
  p.footer__copyright &copy; by Mengyu Wu. Demo of an online grocery store.
