header.header
  nav.nav.nav--tours
    a.nav__el(href='/') Grocery Home
  .header__logo 
    svg.header__logo
      use(xlink:href='/img/icons.svg#icon-sunrise')
  nav.nav.nav--user
    if user
      a.nav__el(href='/my-cart')
        svg.card__icon
          use(xlink:href='/img/icons.svg#icon-shopping-cart')
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/photos/${user.photo}` alt=`Photo of ${user.name}`)
        span #{user.name.split(' ')[0]} 
    else
      a.nav__el(href='/login') Log in 
      a.nav__el.nav__el--cta(href='/preparing') Sign up